<%- include("templates/header") %>
    <div class="container">
        <h1>Users</h1>
        <% let i=0; %>
        <% for (i=0; i < users.length; i++) { %>
            <%- include("templates/user", {user: users[i]}) %>
        <% } %>
    </div>
<%- include("templates/footer") %>