<%- include("templates/header") %>
    <div class="container">

        <%= message %>
        <form action="/login" method="get">
            <input type="submit" value="Try again" />
        </form>
        
    </div>
<%- include("templates/footer") %>