<%- include("templates/header") %>

<div class="container">
<form action="/signup" method="get">
    Please have at least 3 characters in your username and at least 5 characters in your password
    <br>
    <input type="submit" value="Try Again"/>
</form>
</div>

<%- include("templates/footer") %>