<%- include("templates/header") %>

    <div class="container">
        <h1><%- user.username %> is now an <%- user.type %>.</h1>
        <a href="/admin">Go back to admin page</a>
    </div>
    
<%- include("templates/footer") %>